---
import {type CollectionEntry, getEntryBySlug} from "astro:content"
import {Image} from "astro:assets"

import CategoryList from "./CategoryList.astro"
import ProjectTitle from "./ProjectTitle.astro"

type Props = {
    project: CollectionEntry<"project">
}

const {project} = Astro.props
---

<article
    class="border-2 border-dark_slate_gray p-8 shadow-xl"
    style={`view-transition-name: project-${project.slug};`}
>
    <a href={`/project/${project.slug}`}>
        <div style={`view-transition-name: image-${project.slug};`}>
            <Image
                src={project.data.logo}
                alt={project.data.company}
                width={756}
                height={472}
                class="mb-6 object-center bg-transparent"
            />
        </div>
    </a>

    <!--<CategoryList categories={project.data.categories}  id={`tags-${project.slug}`}/>-->
    <div class="mb-6">
        <CategoryList categories={project.data.categories} />
    </div>

    <p class="text-xl mb-2">{project.data.type}</p>

    <a href={`/project/${project.slug}`}>
        <!--<ProjectTitle id={`title-${project.slug}`} title={project.data.title}/>-->
        <ProjectTitle title={project.data.title} />

        <p class="text-l md:text-2xl mb-9 line-clamp-2">
            {project.body}
        </p>
    </a>
</article>
